# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
**/.vs
**/x64
**/*.vcxproj
/.vs
/LearnOpenGL/.vs
LearnOpenGL/brick_texture.jpg
LearnOpenGL/brick_texture_red.jpg
LearnOpenGL/green_ripple_texture.jpg
LearnOpenGL/LearnOpenGL.aps
/LearnOpenGL/LearnOpenGL/x64
LearnOpenGL/sunnyswamp-32x.png
*.pdb
