---
layout: default
---

<h1>Gallery</h1>

<p>
  Hi! My name is Johnny Wannamaker, and this is a showcase of my journey as a Graphics Programmer.  
</p>

<h2>LearnOpenGL</h2>

<p>
  <a href="learnopengl.com">LearnOpenGL.com</a>, is a free, online book with easily digestible lessons, examples, and excercises that make it a popular introduction to the realm of graphics programming. This is my work from the sections of <a href="https://learnopengl.com/Getting-started">Getting Started</a>.
</p>

<div class="thumb-grid">
{% for section in site.data.content %}
  {% for type in section %}
    {% if type[0] != "title" and type[0] != "slug" %}
      {% for item in type[1] %}
        {% assign index = forloop.index %}
          <a class="thumb-card" href="{{ site.baseurl }}/{{ section.slug }}/{{ type[0] }}/{{ index }}.html">
            <p>{{ section.title }}</p>
            <img src="{{ site.baseurl }}/assets/{{ section.slug }}/{{ type[0] }}/{{ index }}/thumb.png" alt="{{ item.title }}">
          </a>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% endfor %}
</div>
