---
layout: default
---

{% for section in site.data.content %}
  <h2>{{ section.title }}</h2>

  {% for type in section %}
    {% if type[0] != "title" and type[0] != "slug" %}
      <h3>{{ type[0] | capitalize }}</h3>
      <div class="thumb-grid">
        {% for item in type[1] %}
          {% assign index = forloop.index %}
          <a class="thumb-card" href="/{{ section.slug }}/{{ type[0] }}/{{ index }}.html">
            <img src="/assets/{{ section.slug }}/{{ type[0] }}/{{ index }}/thumb.png" alt="{{ item.title }}">
            <p>{{ item.title }}</p>
          </a>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}
