---
layout: default
---

<body>
    <h2>{{ page.title }}</h2>
    <main>
        {{ content }}
    </main>
</body>

{% assign path_parts = page.permalink | split: '/' %}
{% assign sorted_pages = site.pages | sort: "order" %}
{% assign current_index = sorted_pages | index_of: page %}
{% assign prev_page = sorted_pages[current_index | minus: 1] %}
{% assign next_page = sorted_pages[current_index | plus: 1] %}

<div class="nav-buttons">
  {% if prev_page %}
    <a class="button" href="{{ prev_page.url | relative_url }}">← Previous</a>
  {% endif %}

  {% if next_page %}
    <a class="button" href="{{ next_page.url | relative_url }}">Next →</a>
  {% endif %}
</div>
